In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = sns.load_dataset('iris')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
df[['sepal_length','sepal_width','petal_length','petal_width']].mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [8]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [9]:
df['species_labeled'] = df['species'].replace({'setosa':0,'versicolor':1,'virginica':2})
df['species_labeled']

C:\Users\gunsm\AppData\Local\Temp\ipykernel_4572\752428919.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['species_labeled'] = df['species'].replace({'setosa':0,'versicolor':1,'virginica':2})

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species_labeled, Length: 150, dtype: int64

In [10]:
df['species_labeled'].mode()

0    0
1    1
2    2
Name: species_labeled, dtype: int64

In [12]:
df.mean(numeric_only=True)

sepal_length       5.843333
sepal_width        3.057333
petal_length       3.758000
petal_width        1.199333
species_labeled    1.000000
dtype: float64

In [13]:
df.median(numeric_only=True)

sepal_length       5.80
sepal_width        3.00
petal_length       4.35
petal_width        1.30
species_labeled    1.00
dtype: float64

In [14]:
df.min()

sepal_length          4.3
sepal_width           2.0
petal_length          1.0
petal_width           0.1
species            setosa
species_labeled         0
dtype: object

In [15]:
df.max()

sepal_length             7.9
sepal_width              4.4
petal_length             6.9
petal_width              2.5
species            virginica
species_labeled            2
dtype: object

In [16]:
np.std(df[['sepal_length','sepal_width']])

C:\Users\gunsm\AppData\Roaming\Python\Python313\site-packages\numpy\_core\fromnumeric.py:4062: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

sepal_length    0.825301
sepal_width     0.434411
dtype: float64

In [34]:
grp1 = df.groupby('species')
grp1.min()

,sepal_length,sepal_width,petal_length,petal_width,species_labeled
species,,,,,
setosa,4.3,2.3,1.0,0.1,0
versicolor,4.9,2.0,3.0,1.0,1
virginica,4.9,2.2,4.5,1.4,2

In [36]:
vi =  grp1.get_group('virginica')
vi.head()
vi.shape

(50, 6)

In [28]:
vi.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_labeled
count      50.00000    50.000000     50.000000     50.00000             50.0
mean        6.58800     2.974000      5.552000      2.02600              2.0
std         0.63588     0.322497      0.551895      0.27465              0.0
min         4.90000     2.200000      4.500000      1.40000              2.0
25%         6.22500     2.800000      5.100000      1.80000              2.0
50%         6.50000     3.000000      5.550000      2.00000              2.0
75%         6.90000     3.175000      5.875000      2.30000              2.0
max         7.90000     3.800000      6.900000      2.50000              2.0